.footerPhone{
    background-color: $color-blue-2;
    padding-bottom: $pd-7;
    color: $color-white-3;
    img{
        margin-bottom: $mg-4;
    }
    .nav-link{
       
        @include styleText($fs-1,$fw-2,$color-white-3);
        &:hover{
            opacity: 0.75;
        }
    }
}