header {
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    position: fixed;
    width: 100%;
    z-index: 10;
    .navbar-brand {
        @include styleText($fs-3, $fw-3, $color-blue-2);
    }
    .navbar-toggler-icon{
        font-size: $fs-5;
        line-height: 1.5em;
        color: $color-blue-1;
    }
    #phoneNavbar {
        .nav-link {
            @include styleText($fs-2, $fw-2, $color-blue-1);
            padding: 25px;
            transition: 0.2s;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: $color-blue-2;
                transform: scaleX(0);
                transition: 0.2s;
            }
            &:hover {
                @include styleText($fs-2, $fw-2, $color-blue-2);
                &::after {
                    transform: scaleX(1);
                }
            }
        }
        .active {
            .nav-link {
                @include styleText($fs-2, $fw-2, $color-blue-2);  
                &::after {
                    transform: scaleX(1);
                }               
            }
        }
    }
}

//responsive
@include responsive("large-down"){
    header{
        #phoneNavbar{
            .nav-link{
                text-align: center;
            }
        } 
    } 
}